{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "bracketSpacing": false,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "avoid"
}
